@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Regular.woff") format("woff");
}
* {
  font-family: "Noto Sans KR";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.app_section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  position: relative;
}

a {
  color: #202123;
  text-decoration: none;
}
